body{
  margin:0;
  background:#0f172a;
  font-family:Arial;
  color:white;
}

.container{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.card{
  background:#1e293b;
  padding:30px;
  border-radius:15px;
  width:400px;
}

input,
textarea{
  width:100%;
  margin-bottom:15px;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#334155;
  color:white;
}

textarea{
  height:100px;
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#2563eb;
  color:white;
  cursor:pointer;
  margin-bottom:10px;
}

button:hover{
  background:#1d4ed8;
}